//Nav colors and styles
$color-nav: #006400;
$h-navbar: 62px;
$w-navbar: 100%;
$color-brand: #450079;
$font-brand: Old English Text MT;
$font-size-brand: 30px;
$w-navbar-item: 90px;
$h-navbar-item: 35px;
$color-hover: whitesmoke;
//$font-navbar-item: MingLiu_HKSCS;
$font-navbar-item: 'Tahoma';
$color-navbar-item-active: #004B00;
$font-size-navbar-item: 14px;
$font-title: Georgia;
$font-body: Georgia;
$font-play: Matura MT Script Capitals Regular;
$color-play: #01FF01;

//search
$w-search: 70px;
$h-search: 32px;

//footer
$font-footer: Comic Sans;
$font-size-footer: 14px;
$h-footer: 35px;
$w-footer: 100%;