
<br>

<br>
    <div class="about">
        
        <div class="about-body text-center">
            <i class="glyphicon glyphicon-tags" aria-hidden="true"></i> 
            <h2 class="about-h2">
              About Us
            </h2>
            <p><big>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra nulla in nisi dignissim tristique. Aliquam erat volutpat. Pellentesque ultrices elit a orci pharetra ultrices. In elementum dolor risus. Mauris ut augue sed nunc rhoncus placerat. Cras arcu est, vestibulum pretium scelerisque eget, egestas quis magna. Ut semper aliquam nisl, sit amet condimentum nisl. Suspendisse potenti. Nunc non placerat nisi. Ut non lacus ante.</big></p>
        
        </div>
    </div>
<br>

</div>
