@import "partials/variables";
@import "partials/normalize";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 0px;
    font-family: 'Fjalla One','Old Standard TT',Arial, Helvetica, Oswald;
    background-color:$color-bodybg;

  }
//navbar
nav{
    background-color: $color-nav !important;
    height: $h-navbar;
    border-bottom: 2px solid $color-navborder !important;
}
//navbar-brand
.navbar-brand{
    padding-top: 5px;
    //width: $font-size-brand;
    padding-left: 60px;
    padding-right: 0px;
}

//navbar-items
.nav li{
    height: $h-navbar-item;
    position: relative;

}
.nav li a{
    font-family: $font-navbar-item;
    font-size: $font-size-navbar-item;
    color: $color-navtxt !important;
    margin-top: 10px;
    margin-right: 2px;
    border-bottom: 2px $color-nav solid;
    text-transform: uppercase;
    padding-bottom: 0px;
}
.navbar-default .navbar-nav > .active > a{
	background: $color-nav!important;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px $color-hover solid;
    //color: $color-hover!important;
}
nav ul > li a:hover{
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 2px $color-hover solid;
    margin-bottom: 0px;
    //color: $color-hover!important;
}
//container
#container{
    padding-top: 6em;
}
h3.text-center{
    
    span{
        color: $color-btn;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}
.recent-upload{
    background: $color-btn !important;
    text-align: center;
    height: 40px;
    h4, h3{
        padding: 10px;
        color: $color-nav;
        font-weight: bold;
    }
}

//footer
footer{
    height: $h-footer;
    background-color: $color-navborder !important;
    text-align: center;
    color: $color-navtxt !important;
    font-family: $font-footer;
    font-size: $font-size-navbar-item;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    border-top: #dcdcdc solid 2px;
}
#login{
    padding-top: 15px;
    margin-right: 30px;
    font-size: 14px;
    font-family: $font-navbar-item;
    font-size: $font-size-navbar-item;
    color: $color-navtxt !important;
    border-bottom: 2px $color-nav solid;
    //text-transform: uppercase;
}
a#login:hover{
    text-decoration: none;
    padding-bottom: 5px;
   border-bottom: $color-hover solid 2px;
}

//li uplaod(add new)
nav .uplaod{
    color: $color-navtxt;
    height: $h-navbar-item;
    //background-color: transparent!important;
}

//dropdown menu


//customize index both for audio and video
.panel-body, .panel-footer li{
    list-style: none;
}

//media query
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    nav.navbar a.navbar-brand{
        position: fixed;
        margin-right: 50px;
    }
    form.form-inline .form-group{
        display: inline-block !important;
        background-color: $color-brand !important;
    }
    .navbar-toggle {
        display: block;
        background-color: $color-nav !important;
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        display: block;
        background-color: $color-navtxt !important;
    }
 
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        background-color: $color-nav !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.form-control{
    border-radius: 0px;
    margin-right: 0px !important;
    padding-right: 0px;
}

.form-inline .form-control{
    border-radius: 0px;
    border: $color-navtxt solid 1px;
    margin-right: 0px !important;
    padding-right: 0px;
    color: $color-navtxt;
    &:focus{
        border: $color-btn solid 1px;
        box-shadow: none;
    }
}
.form-inline .btn-success{
    margin-left: 0px;
    clear: both;
}
//buttons style
.btn{
    border: 0px;
    border-radius: 0px;
}
.btn:hover{
    border: 0px;
    border-radius: 0px;
    opacity: 0.9;
    background-color: $color-btn !important;
}
.btn-success{
    background-color: $color-btnhover !important;
    color: $color-navtxt;
    border: 2px solid $color-btn;
    border-radius: 0px;
}
.btn-success:hover, a.btn-success:hover{
    background-color: $color-btn !important;
    border: 2px solid $color-btn;
    color: $color-nav !important;
    border-radius: 0px;
}
.btn-success.home-btn{
    background-color: transparent !important;
}
//panel
.panel-heading{
    //background-color: $color-nav !important;
    background-color: $color-btn !important;
    color: $color-nav !important;
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
}
.panel a{
    color: $color-navtxt;
    text-decoration: none;
    &:hover{
        color: $color-btn;
    }
}
.panel{
    border: 0px !important;
    border-radius: 0px;
    box-shadow: 0 2px 2px $color-navborder;
}
.panel .panel-default img{
    height: 200px;
}
.panel-default h3{
    color: $color-navtxt;
    text-transform: uppercase;
    &:hover{
        color: $color-btn;
    }
}
.panel-default #post-index{
    height: 300px;
    padding: 0 8px;
}

.ytb_link{
    background-color: $color-idbg !important;
    color: $color-nav;

}
.ytb_id{
    background-color: red
}

#category li{
    border: 2px solid $color-nav !important;
    border-radius: 0px;
    background-color: $color-nav !important;
}
#category li a{
    color: $color-navtxt;
    padding: 5px;
    border: 1px solid $color-nav !important;
}
#category li a:hover{
   // color: $color-navtxt;
    text-decoration: none;
    border: 1px solid $color-btn !important;
    background-color: $color-nav !important;
}

.about{
    background-color: $color-nav !important;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 2px $color-navborder;
}
// additional style panels
 .about .about-body .glyphicon{
    background-color: $color-nav!important;
    width: 100px;
    height: 100px;
    padding: 40px;
    font-size: 24px;
    border-radius: 50px;
    color: $color-navtxt;
}

.about .about-body .glyphicon:hover{
    background-color: $color-btn!important;
    width: 100px;
    height: 100px;
    padding: 40px;
    font-size: 24px;
    border-radius: 50px;
    color: $color-nav !important;
}

// home coursel image
.item image{
    height: 100px;
    width: 100px;
}

.item .carousel-caption h3{
    font-size: 34px;
    font-family: 'Gill Sans';
    text-align: center;
    //color: blue;
    //opacity: 0.7;
    //padding-bottom: 60px;
}
.item .carousel-caption p{
    font-size: 14px;
    //opacity: 0.7;
    //color: blue;
    font-family: 'Gill Sans';
    text-align: center;
    padding-bottom: 80px;
}

//home panel
.home{
    box-shadow: 1px 2px 2px $color-navborder;
}
.home .home-body{
    background-color: $color-nav !important;
    color: $color-navtxt;
}
hr{
    background-color: $color-bodybg !important;
}
.home .home-body .glyphicon{
    background-color: $color-nav!important;
    width: 100px;
    height: 100px;
    padding: 40px;
    font-size: 24px;
    border-radius: 50px;
    color: $color-navtxt;
}

.home .home-body .glyphicon:hover, 
.home .home-body a.glyphicon:hover{
    background-color: $color-hover!important;
    width: 100px;
    height: 100px;
    padding: 40px;
    font-size: 24px;
    border-radius: 50px;
    color: $color-navtxt;
}

.home-link:hover, .home-link, h2:hover{
    text-decoration: none;
    color: $color-hover !important;
}

// post show
.post-footer, .add-comments{
    a{
        color:black;
        &:hover{
            color: $color-hover;
            text-decoration: none;
        }

    }
}