@import "partials/variables";
@import "partials/normalize";

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 0px;
    background-color: rgb(198, 216, 216);

  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    //height: 60px;
    padding: 10px;
    color: $color-navtxt !important;
    background-color: $color-nav!important;
  }
//navbar
nav{
    background-color: $color-nav !important;
    height: $h-navbar;
}
nav.navbar{
    border: 0px;
}

//navbar-brand
.navbar-brand{
    color: $color-brand !important;
    font-family: $font-brand;
    font-size: $font-size-brand;
    padding-left: 30px;
    padding-right: 90px;
}

//navbar-items
.nav li{
    width: $w-navbar-item;
    height: $h-navbar-item;
    position: relative;
    margin: 1px;
    margin-top: 7px;
}
.nav li a{
    font-family: $font-navbar-item;
    font-size: $font-size-navbar-item;
    color: $color-navtxt !important;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a{
	background: $color-nav!important;
    text-decoration: none;
    border-bottom: $color-navtxt solid 3px;
}
nav ul > li a:hover{
	//background: $color-navbar-item-active!important;
    text-decoration: none;
    color: $color-hover!important;
    border-bottom: $color-hover solid 3px;
}

//container
#container{
    padding-top: 6em;
}


//footer
footer{
    height: $h-footer;
    background-color: $color-nav !important;
    text-align: center;
    color: $color-navtxt !important;
    font-family: $font-footer;
    font-size: $font-size-navbar-item;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 8px;
    clear: both;
}
#login{
    padding-top: 20px;
    padding-right: 20px;
}
#login {
    color: rgb(139, 139, 253);
    font-size: 18px;
}
a#login:hover{
    color: $color-hover!important;
    text-decoration: none;
}

//li uplaod(add new)
nav .uplaod{
    color: $color-navtxt;
    height: $h-navbar-item;
    //background-color: transparent!important;
}
//dropdown menu
.navbar .dropdown{
    width: $w-navbar-item;
    -webkit-transform: none;
	-ms-transform: none;
    transform: none;
    margin-top: 15px;
    padding-bottom: 0px;
}
.navbar .dropdown #upload:hover{
    background: none!important;
    width: $w-navbar-item;
    -webkit-transform: none;
	-ms-transform: none;
    transform: none;
}
.navbar .dropdown .dropdown-menu{
    width: $w-navbar-item;
    -webkit-transform: none;
	-ms-transform: none;
    transform: none;
    margin-top: 10px;
    border: none;
    background: transparent!important;
}
.navbar .dropdown li{
    margin-top: 0px;
    width: $w-navbar-item;
    -webkit-transform: none;
	-ms-transform: none;
    transform: none; 
}
.navbar .dropdown li a{
    width: $w-navbar-item;
    background-color: $color-nav!important;
    color: $color-nav;
}

//customize index both for audio and video
.panel-body, .panel-footer li{
    list-style: none;
}


#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgb(35, 99, 93);
	margin: -0.1%;

}

#overlay img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

	background-color: transparent;
}


//media query
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background-color: $color-nav !important;
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        display: block;
        background-color: $color-navtxt !important;
    }
 
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        background-color: $color-nav !important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}