<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       <h2 class="page-header"><span class="glyphicon glyphicon-upload"></span> Manage <span id="header">Categories <i class="glyphicon glyphicon-music"></i></span></h2>
       <%= link_to  "Add new", new_category_path, class:'btn btn-warning pull-right' %>
       <% if @categories.exists? %>
         <table class="table table-striped table-bordered">
            <tr>
            <th>Song Categories</th>
            <th>Post Categories</th>
            </tr>
            <% @categories.each do |category| %>
             <tr>
               <td><%= category.song %></td>
               <td><%= category.post %></td>
             </tr>
            <% end %>
         </table>
       <% else %>
        <p>No data available to display</p>
       <% end %>
    </div>
    <div class="col-md-4"></div>
</div>
